@model u23601711_HW1.Models.Booking
@{
    ViewBag.Title = "BookingConfirmed";
}

<h2>BookingConfirmed</h2>

<div class="container">
    <div class="text-center mb-4">
        <div class="icon-check">✔️</div>
        <h2>Booking Confirmed</h2>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Booking Details</h5>
            <p>Booking ID: @Model.BookingID</p>
            <p>Date Booked: @Model.BookingDate.ToString("yyyy-MM-dd HH:mm")</p>
            <p>Pick-Up Time: @Model.PickUpTime.ToString("HH:mm")</p>
            <p>Pick-Up Address: @Model.PickUpAddress</p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Driver Details</h5>
            <img id="driverImage" src="@Model.Driver.DriverImage" class="avatar mb-2" alt="Driver Image">
            <p>Driver Name: @Model.Driver.DriverFirstName @Model.Driver.DriverLastName</p>
            <p>Phone Number: @Model.Driver.DriverPhone </p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Ambulance Details</h5>
            <img src="@Model.Vehicle.VehicleImage" class="ambulance-icon mb-2" alt="Ambulance">
            <p>Ambulance Type: @Model.Vehicle.VehicleType</p>
            <p>Registration Number: @Model.Vehicle.RegistrationNumber</p>
        </div>
    </div>

</div>