@model u23601711_HW1.Models.BookingVM
@{
    ViewBag.Title = "BookingForm";
}


<h2>@Model.ServiceName</h2>


<form method="post" action="/Booking/SubmitBooking">
    <input type="hidden" name="serviceId" value="@Model.ServiceId" />

    @*<div class="row g-3">*@
    <div class="col-md-6">
        <label for="fullName" class="form-label">Full Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="patientName" placeholder="John Carter" required />
    </div>
    <div class="col-md-6">
        <label for="phone" class="form-label">Phone<span class="text-danger">*</span></label>
        <input type="tel" class="form-control" id="patientPhone" placeholder="+27 00 000 0000" required />
    </div>
    <div class="mb-3">
        <label>Pick-Up Time</label>
        <input type="time" name="pickupTime" class="form-control" required />
    </div>

    <div class="col-md-6">
        <label for="reason" class="form-label">Reason<span class="text-danger">*</span></label>
        <select id="reason" class="form-select" required>
            <option value="" disabled selected>Choose reason</option>
            <option>Accident</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>other</option>
        </select>
    </div>




    <div class="col-md-6">
        <label for="vehicle" class="form-label">Vehicle<span class="text-danger">*</span></label>
        <select id="vehicleId" name="vehicleId" class="form-select" required>
            <option value="" disabled selected>Choose vehicle</option>
            @foreach (var vehicle in Model.Vehicles)
            {
                <option value="@vehicle.VehicleID.ToString()">@vehicle.VehicleType</option>
            }


        </select>
    </div>

    <div class="col-md-6">
        <label for="driver" class="form-label">Driver<span class="text-danger">*</span></label>
        <select id="driverId" name="driverId" class="form-select" required>
            <option value="" disabled selected>Choose driver</option>
            @foreach (var driver in Model.Drivers)
            {
                <option value="@driver.DriverID.ToString()">@driver.DriverFirstName @driver.DriverLastName</option>
            }
        </select>
    </div>

    <div class="col-6">
        <label for="address" class="form-label">Pick-Up Address</label>
        <textarea id="address" class="form-control" placeholder="Please type your address here..."></textarea>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-book">BOOK AMBULANCE</button>
    </div>

</form>

