@model u23601711_HW1.Models.ManagementVM
@{
    ViewBag.Title = "DriverVehicleManagement";
}

<h2>Driver and Vehicle Management</h2>


<div>
    <h3>Drivers</h3>
    <input type="button" value="Create" @*onclick=""*@ />
    <table class="table">
        <thead><tr><th>IMAGE</th><th>FIRST NAME</th><th>LAST NAME</th><th>PHONE NUMBER</th><th>SERVICE</th><th>CONTROLS</th></tr></thead>
        <tbody>
            @foreach (var driver in Model.Drivers)
            {
                <tr>
                    <td><img src="@driver.DriverImage" class="img-fluid" style="height: 30px; width: auto;"/></td>
                    <td>@driver.DriverFirstName</td>
                    <td>@driver.DriverLastName</td>
                    <td>@driver.ServiceID</td>
                    <td>@driver.DriverPhone</td>
                    <td><input type="button" value="Update" @*onclick=""*@ /><input type="button" value="Delete" @*onclick="msg()"*@ /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h3>Vehicles</h3>
    <input type="button" value="Create" @*onclick=""*@ />
    <table class="table">
        <thead><tr><th>IMAGE</th><th>TYPE</th><th>REGISTRATION</th><th>SERVICE</th><th>CONTROLS</th></tr></thead>
        <tbody>
            @foreach (var vehicle in Model.Vehicles)
            {
                <tr>
                    <td><img src="@vehicle.VehicleImage" class="img-fluid" style="height: 30px; width: auto;"/></td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.RegistrationNumber</td>
                    <td>@vehicle.ServiceID</td>
                    <td><input type="button" value="Update" @*onclick=""*@ /><input type="button" value="Delete" @*onclick="msg()"*@ /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a href="@Url.Action("ExportVehicles", "Management")" class="btn btn-primary">Export Vehicles</a>
</div>